*, *::before, *::after{
  box-sizing: border-box;  
  font-family: "Kode Mono", monospace;;
}
body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #001F3F;

}
.container{
    width: 800px;
    max-width: 80%;
    background-color: #653a2a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    color: white;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}
.btn{
 background-color: #774936;
 border: 1px solid #2f0e07;
 border-radius: 5px;
 padding: 5px 10px;
 color: white;
 outline: none;
}
.btn:hover{
    background-color: #653a2a ;
    border-color: black;

}
